<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>工作流模型列表</title>
    <link rel="stylesheet" href="/act/js/bootstrap-3.3.7-dist/bootstrap.min.css">
    <script src="/act/js/jquery-3.4.1.min.js"></script>
    <script src="/act/js/bootstrap-3.3.7-dist/bootstrap.min.js"></script>
</head>
<body>
    <div class="panel panel-default" style="margin: 10px" >
        <div class="panel-heading">工作流管理</div>
        <div class="panel-body">
            <a href="/act/create" target="_blank">
                <button type="button" class="btn btn-default" aria-label="Left Align">
                    创建模型
                </button>
            </a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th width="10%">模型编号</th>
                <th width="10%">版本</th>
                <th width="20%">模型key</th>
                <th width="30%">模型名称</th>
                <th width="30%">操作</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="actModel,actStat:${actList}">
                    <th scope="row" th:text="${actModel.id}"></th>
                    <td th:text="${actModel.version}"></td>
                    <td th:text="${actModel.key}"></td>
                    <td th:text="${actModel.name}"></td>
                    <td>
                        <a th:href="@{'/publish?modelId='+${actModel.id}}" >部署</a>
                        <a th:href="@{'/revokePublish?modelId='+${actModel.id}}">撤销</a>
                        <a th:href="@{'/editor?modelId='+${actModel.id}}">编辑</a>
                        <a th:href="@{'/delete?modelId='+${actModel.id}}">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>